/*shear style*/
body {
    font-family: 'Open Sans', sans-serif;
}

.btn-parimary {
    padding: 20px 43px;
    gap: 10px;
    border-radius: 0px;
    background: #E55473;
    border: 0px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;


}

.banner {

    display: flex;
    background: rgba(229, 84, 115, 0.10);
    justify-content: space-between;
    padding: 30px 30px 0px 200px;
    align-items: center;
}

.png-flower-pic {
    max-width: 500px;
    padding-right: 100px;

}

.banner-contant {

    max-width: 500px;
    margin-right: 0px;
}

.banner-titale {
    color: #272727;
    font-size: 50px;
}

.pra-parimary {
    color: rgba(39, 39, 39, 0.60);
    padding-bottom: 20px;
    font-size: 13px;
    line-height: 25px;
}

/*  Featured-flower   */
.Featured-flower {

    background: #FFF;
}

.Featured-flower-title {
    margin-top: 130px;
    color: #272727;
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;

}

.Featured-flower-p {
    margin-bottom: 30px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    line-height: 25px;


}

.Featured-flower-pic {
    display: flex;
    justify-content: space-between;
    padding: 0px 180px 0px 180px;
   

}

skill {
    padding: 10px;
    border-radius: 300px 300px 0px 0px;
    text-align: center;

}


.flower-png1 {

    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 300px;
    height: 400px;


}


.flower-png2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 300px;
    height: 400px;

}

.flower-png3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 300px;
    height: 400px;

}

.flower-underlin {
    color: #272727;
    text-align: center;
    font-size: 24px;
    line-height: 35px;
    font-weight: 600;
}

/* hot dil site */

.hot-dil {
    margin-top: 100px;
    background-color: rgba(229, 84, 115, 0.05);
    border-radius: 8px;
    display: flex;
    justify-content: space-around;

}

.hot-dil-text {
    text-align: center;
    padding: 200px 0px 200px 150px;
    margin-right: 20px;


}

.hot-dil-titale {
    color: #272727;
    font-size: 30px;

}

#hot-dil-titale-span {
    color: #E55473;
}

.hot-dil-p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    line-height: 25px;
}

.hot-flower-pic {

    padding: 100px 250px 100px 0px;

}

/*Instagram*/
.Instagram-pic {
    margin-bottom: 200px;
    padding-left: 200px;  
     
}

.input-email {
    margin-right: 10px;
    align-items:center;
    /*margin: 30px 0px 200px 400px;*/
    padding: 15px;
    width: 400px;
    height: 20px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;


}

.Deals {
    margin-top: 150px;
    margin-left: 450px;
    align-items: center;
    display: flex;
}
.background{
    
    padding-left:15px;
    width:75%;
    margin:  auto;
    background-image:url('../image/Rectangle\ 9.png') ;
    margin-bottom: 100px;
}
.latest-del { 
  
    border-radius: 8px;
    text-align: center;  
}

.latest-del-h2-p {
    text-align: center;
}
.latest-del-h2 {
    
    
    text-align: center;
}

/*footer*/

footer { 
    width: none px;
    height: 500px;
    background: #111010;
}
.footer-document{
    padding-top:30px ;
    margin-top: 0px;
    align-items: center;


}

.footer-h2 {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;

}

.footer-h2-s {
    color: #FFFFFf;
    font-size: 48px;
    font-weight: 800;

}

.footer-p1 {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}

.footer-p {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
}